# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv_p/
env/

# Ignore the SQL connection file
sql_connection.py

# Ignore environment variables file if you use one
.env
