{% extends 'base.html' %}
{% block title %}Grocery Store Management System{% endblock %}

{% block content %}

      <div class="container my-5">
        <h2>Orders Table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>order id</th>
                    <th>order date</th>
                    <th>quantity</th>
                    <th>total amount</th>
                </tr>
            </thead>
            <tbody id="orderTableBody"></tbody>
        </table>
      </div>

  
  <script>
    async function get_orders() {
      const response = await fetch('/get_order_details');
      if (!response.ok) {
        console.error('not fetched', response.status);
        return;
      }
      const orders = await response.json();
      console.log('fetched orders', orders);
      const tableBody = document.getElementById('orderTableBody');
      tableBody.innerHTML = '';
      orders.forEach(order => {
        const row = `
        <tr>
          <td>${order[0]}</td>
          <td>${order[1]}</td>
          <td>${order[2]}</td>
          <td>${order[3]}</td>
        </tr>
        `;
        tableBody.innerHTML  += row;

      });    
    };
    
    get_orders();

      

  </script>

{% endblock %}